<h1 class="text-center text-secondary p-4 text-uppercase">Cocktail List</h1>

<div class="container">

  <div class="row col-12 mb-3 ps-2 pe-4">
    <div class="card p-0">
      <div class="border-1 p-2 border-bottom border-secondary-subtle bg-secondary-subtle fw-bold">
        Filter
      </div>

      <div class="row align-items-center card-body">
        <div class="col-auto">
          <label class="form-label">Cocktail Name:</label>
        </div>
        <div class="col-auto">
          <input class="form-control" (keyup)="onKeyPress($event)" placeholder="Search..." type="text" />
        </div>
      </div>
    </div>
  </div>

  <div class="row col-12">
    @for(item of cocktails$ | async; track item) {
      <div class="col-6 mb-5">
        <app-list-card [cocktail]="item"></app-list-card>
      </div>
    }
  </div>
</div>
